# Problem 1 - Variables and Data Types

In [2]:
#Q1: Assign your name to the variable name.

name = 'Shraddha'

In [4]:
#Q2: Assign your age (real or fake) to the variable age.

age = 23

In [7]:
#Q3: Assign a boolean value to the variable has_android_phone.

has_android_phone = True

In [8]:
name, age, has_android_phone

('Shraddha', 23, True)

In [10]:
#Q4: Create a dictionary person with keys "Name", "Age", "HasAndroidPhone" and values using the variables defined above.

person = {'Name':"Shraddha", 
          'Age': 23,
          'HasAndroidPhone' : True}

In [11]:
#Let's use the person dictionary to print a nice message.

print("{} is aged {}, and owns an {}.".format(
    person["Name"], 
    person["Age"], 
    "Android phone" if person["HasAndroidPhone"] else "iPhone"
))

Shraddha is aged 23, and owns an Android phone.

In [28]:
#Q4b: Use a for loop to display the type of each value stored against each key in person.

#Here's the expected output for the key "Name":
#The key "Name" has the value "Derek" of the type "<class 'str'>"

person1 = {"Name": "Derek", "Age": 25}

for p,val in person1.items():
    print(f'{p},{val}, {type(val)}')

Name,Derek, <class 'str'>
Age,25, <class 'int'>

# Problem 2 - Working with Lists

**Q5: Create a list containing the following 3 elements:**

* your favorite color
* the number of pets you have
* a boolean value describing whether you have previous programming experience

In [29]:
p2 = ['blue', 0, True]

In [30]:
p2

['blue', 0, True]

In [31]:
#**Q6: Complete the following `print` and `if` statements by accessing the appropriate elements from `my_list`.**

#*Hint*: Use the list indexing notation `[]`.

In [33]:
print("My favorite color is {}.".format(p2[0]))

My favorite color is blue.

In [34]:
print("I have {} pets".format(p2[1]))

I have 0 pets

In [35]:
if p2[2]:
    print("I have programming experience")
else:
    print("I do not have programming exp")

I have programming experience

In [39]:
#Q7: Add your favorite single digit number to the end of the list using the appropriate list method.

p2[1]

0

In [44]:
#Q8: Remove the first element of the list, using the appropriate list method.
#Hint: Check out methods of list here: https://www.w3schools.com/python/python_ref_list.asp

p2.pop(0)

'blue'

In [45]:
p2

[0, True]

In [47]:
print("The list has {} elements.".format(len(p2)))

The list has 2 elements.

# Problem 3 - Conditions and loops

**Q10: Calculate and display the sum of all the numbers divisible by 7 between 18 and 534 i.e. `21+28+35+...+525+532`**.

*Hint*: One way to do this is to loop over a `range` using `for` and use an `if` statement inside it.